* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(193 193 229);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App>div {
  background-color: rgb(155 155 211);
  color: rgb(56, 56, 7);
  padding: 0 50px;
}

@media screen and (max-width:600px) {
  .App {
    background-color: rgb(155 155 211);
    
  }

  .App>div {
    background-color: rgb(155 155 211);
  }
}